# this is for the local dev environmet
port=54322
user=postgres
database=postgres
password=postgres
host=localhost

# you will find these in auth0.com
jwksuri=https://your-fancy-tenant.eu.auth0.com/.well-known/jwks.json
audience=your-audience
issuer=https://your-fancy-tenant.eu.auth0.com/

# below varaibles are for testing the api only
# this token can be obtained by running the POST request to
# see docs/api.http for more info
token=a.b.c
#
# These can be obtained from Auth0 if you create a new machine to machine
# application that has access to your API
client_id=abc123
client_secret=abc123
